.button-2{
    /* border: 1px solid black; */
    background-color: rgb(239, 239, 239);
    border: none;
    font-size: 1.5625em;
    padding: 0.5em 2.2em;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    place-items: center;
    transition-duration: 0.3s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-decoration: none;
}

.button-2:hover, .button-2:focus, .button-2:active{
    transform: scale(1.1);   
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.button-2:visited{
    color: black;
}