.button-8{
    background-color: rgb(239, 239, 239);
    text-decoration: none;
    font-size: 1.5625em;
    padding: 0.5em 2.2em;
    color: black;
    border: none;
    vertical-align: middle;
    display: inline-block;
    place-items: center;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.button-8:visited{
    color: black;
}

.button-8:hover, .button-8:focus, .button-8:active{
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: pop;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes pop{
    50%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
@keyframes pop{
    50%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}