.button-10{
    background-color: rgb(239, 239, 239);
    text-decoration: none;
    font-size: 1.5625em;
    padding: 0.5em 2.2em;
    border: none;
    vertical-align: middle;
    display: inline-block;
    place-items: center;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
}

.button-10:visited{
    color: black;
}

.button-10:hover, .button-10:focus, .button-10:active{
    transform: scale(0.8);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}